* {
	margin: 0;
	padding: 0;
}
ul {
	position: fixed;
	left: 0;
	top: 0;
	background: #000000;
	width: 100%;
}
li {
	list-style: none;
	display: inline-block;
	width: 19%;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
p {
	margin-top: 70px;
	text-indent: 30px;
	padding: 0 30px;
	text-align: justify;
}
a:link, a:visited {
	text-decoration: none;
	color: #ffffff;
	display: block;
}
a:hover {
	color: #000000;
	background: #ffffff;
}